/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}